*{
    margin: 0%;
    padding: 0px;
}
body{
    background-color: #08967C;
    text-align: center;
}
#container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0, 0, 0.4);
    font-size: 9vmin;
    background-color: #0FE4D9;
    color:darkgreen;
}

#rstbtn{
    background-color:#0FE4D9;
    
    color: darkgreen;
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
}
#rst{
    background-color:#0FE4D9;
    
    color: darkgreen;
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
}
.msg{
    color:black;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    
}
.hide{
    display: none;
}